 @import url('https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0');
@import url('https://fonts.google.com/specimen/Nunito+Sans');
 :root{
    --primary-color:#3f37c9;
    --secondary-color: #4361ee;
    --accent1-color: #4895ef;
    --accent2-color:#4cc9f0;
    --paragraph-font: 'Open Sans';
    --paragraph-font: 'EB Garamon';
    --nav-bacground-color: #4895ef;
    --nav-link-color:#4cc9f0;
    --nav-hover-link-color: #3f37c9;
    --nav-hover-bacground-color:#3f37c9;
 }

 body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
 }

 h1,h2,h3,h4,h5,h6{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
 }

 header{
    padding: 20px;
    background-color: var(--accent1-color);
 }

 p{
    padding: 25px;
 }

 nav{
    background-color: var(--nav-bacground-color);
    display: flex;
    font-size: 1.2rem;
 }

 nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
 }

 nav a:link, nav a:visited{
    color: var(--nav-link-color);
 }

 nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: white;
 }