*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

h1{
    margin: 1rem;
    font-size: 1.5rem;
    color: darkorchid;
    text-align: center;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 3rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
}

label, input, select, button,textarea{
    font-family: 'Times New Roman', Times, serif;
}

label{
    padding-right: 1rem;
}

input, textarea, select{
    padding: 0.5rem;
    font-size: 1.1rem;
}

button{
    margin: 1rem;
    background-color: darkorchid;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover{
    background-color: darkgreen;
}