nav{
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 50 px;
}

h1{
    background-color: steelblue;
    margin: 1rem;
    text-align: center;
    padding: 10px;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

main{
    max-width: 1000px;
   
    
}



main img{
    float: right;
  
}

footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside h2 {
    position: relative;
    top: 47 px;
    left: 5px;
}

aside {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    max-width: 1000rem;
}

aside img{
    width: 200px;
    height: auto;
}

main p {
    font-size: x-large;
}

/*Class selectors*/

.box{
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}



